{% extends 'base.html.twig' %}

{% block body %}
{% verbatim %}
<div class="container-fluid" ng-app="App" ng-controller="AppController">
    <section class="image-feed container-fluid">

    </section>
</div>
{% endverbatim %}
{% endblock %}
